<!DOCTYPE html>
<html>
  <head>
    <title>Self</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class ="header">
    <div class="header_left">
      <a href="https://twitter.com/zHCvCtsh1po4D90?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
    </div>
    <div class="header_light">
      <a href="https://www.facebook.com/profile.php?id=100078120636858">Face book</a>
    </div>
      <%= yield %>
      <footer>
      <p>
        profile 2022.
      </p>
      </footer>

  </body>
</html>
